/* Kasih warna untuk border */
.table-bordered th,
.table-bordered td {
    border: 2px solid #666;
    /* warna garis antar kolom/baris */
}

body {
    padding-top: 100px; /* Kasih jarak agar konten nggak ketimpa header */
}

.tambah-data {
    position: fixed;
    bottom: 50px;  /* Posisi dari bawah layar */
    right: 5px;   /* Posisi dari kanan layar */
    padding: 10px 20px; /* Ukuran tombol */
    background-color: #28a745; /* Warna latar belakang tombol, sesuaikan dengan kelas btn-success */
    color: red;  /* Warna teks */
    border: none;  /* Tanpa border */
    border-radius: 5px; /* Sudut tombol sedikit melengkung */
    font-size: 16px;  /* Ukuran font */
    z-index: 100;   /* Pastikan tombol tetap di atas elemen lainnya */
    cursor: pointer;
}

/* Biar kolomnya lebar */
.table td,
.table th {
    min-width: 300px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.table td:first-child,
.table th:first-child{
	min-width: 50px;
	width: 50px;
}

.table td:nth-child(2),
.table th:nth-child(2){
        min-width: 150px;
        width: 150px;
}

.table td:nth-child(7),
.table th:nth-child(7){
        min-width: 150px;
        width: 150px;
}

.table td:nth-child(8),
.table th:nth-child(8){
        min-width: 150px;
        width: 150px;
}

.table td:nth-child(9),
.table th:nth-child(9){
        min-width: 150px;
        width: 150px;
}

.table td:nth-child(10),
.table th:nth-child(10){
        min-width: 150px;
        width: 150px;
}

.table td:nth-child(11),
.table th:nth-child(11){
        min-width: 150px;
        width: 150px;
}

.table td:nth-child(12),
.table th:nth-child(12){
        min-width: 150px;
        width: 150px;
}
/* Tambahan biar tabel nggak kelihatan sempit */
.table {
    font-size: 16px;
    border-collapse: collapse;
}

/* Biar warna baris header lebih jelas */
.table-success {
    background-color: #d4edda !important;
    color: #155724;
}

/* Tambahan untuk memastikan border antara baris */
.table tbody tr {
    border-bottom: 1px solid #666;
    /* Border antar baris */
}

/* Setiap baris ketika hover bisa ada efek */
.table tbody tr:hover {
   background-color: dark;
}
